@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS to your stylesheet or a style tag in your component */
.menu-item {
    transition: border-bottom 0.2s ease;
    border-bottom: 2px solid transparent; /* Initially, the border is transparent */
  }
  
  .menu-item:hover {
    border-color: blue; /* Change the border color as needed */
  }
  

